 
 /* ====== Containers ====== */
/* 
   article
   aside
   details
   footer
   header
   main
   nav
   section
   summary
*/

/* Reset 
   Set default display for HTML5 elements for IE8 */
article,
aside,
details,
footer,
header,
hgroup, 
main,
menu,
nav,
section,
summary {
  display:block
}

[hidden],
template {
  display: none;
}

/* ====== Article ====== */

/* ====== Aside ====== */

/* ====== Details ====== */

/* ====== Footer ====== */

/* ====== Header ====== */

/* ====== Main ====== */

/* ====== Nav ====== */

/* ====== Section ====== */

/* ====== Summary ====== */


 div, span, p { 
  margin: 0; 
  padding: 0; 
}

p, .paragraph { 
  line-height: 1.5; 
  color: #fff; 
  font-size: 15px; 
  padding: .5em 0; 
}

div.paragraph { 
  line-height: 1.5; 
  color: #fff; 
  font-size: 15px; 
  padding: .5em 0; 
}
