/* The Basic Text Modifcation CSS */

blockquote, cite, code, pre { 
  margin: 0; 
  padding: 0; 
}
blockquote { 
  border-left:4px solid #666; 
  border-radius: 5px;
  color:#888; 
  font-style:italic; 
  line-height:1.5; 
  margin:10px 0 10px 0; 
  padding-left:20px; 
}
cite {
  font-style: normal;
}

/* Text Classes */
.center {
  text-align:center;
}
.left {
  text-align:left;
}
.right {
  text-align:right;
}
.text { 
  width: 880px; 
  min-height: 400px; _height: 400px; 
  padding: 25px 19px; 
}

