@charset "UTF-8";
/* Colors Test Pallette */

.color {
  background: lightgray;
  background-color: #337c34;
  background-color: #b90e21;
  background-color: #c81a00;
  background-color: #fc6120;

  color: #188038;
  color: #222222; /* off black */
  color: #3c4043;
  color: #52188c;
  color: #70757a;
  color: #9aa0a6;
  color: #d93025;
  color: currentColor;
  color: WindowText;

  --actionIcon: #878A8C;
  --actionIconAlpha20: rgba(135,138,140,0.2);
  --actionIconAlpha50: rgba(135,138,140,0.5);
  --actionIconShaded80: #6c6e70;
  --actionIconTinted80: #9fa1a3;
  --active: #0079d3;
  --active: #24A0ED;
  --activeAlpha10: rgba(0,121,211,0.1);
  --activeAlpha10: rgba(36,160,237,0.1);
  --activeAlpha20: rgba(0,121,211,0.2);
  --activeAlpha20: rgba(36,160,237,0.2);
  --activeAlpha50: rgba(0,121,211,0.5);
  --activeAlpha50: rgba(36,160,237,0.5);
  --activeLight60: #33a8ff;
  --activeLight60: #42adf0;
  --activeShaded80: #0060a8;
  --activeShaded80: #1c80bd;
  --activeShaded90: #006cbd;
  --activeShaded90: #2090d5;
  --activeTinted05: #f2f8fc;
  --activeTinted05: #f4fafe;
  --banner-backgroundColor: #24A0ED;
  --banner-backgroundColor: #edeff1;
  --banner-iconColor: #0079d3;
  --banner-iconColor: #24A0ED;
  --banner-positionedImageHeight: 48;
  --bodyAlpha50: rgba(255,255,255,0.5);
  --bodyAlpha70: rgba(255,255,255,0.7);
  --bodyAlpha80: rgba(255,255,255,0.8);
  --bodyFade: #FFFFFF00;
  --bodyShaded80: #ccc;
  --bodyText: #1a1a1a;
  --bodyText: #1c1c1c;
  --bodyTextAlpha03: rgba(26,26,26,0.03);
  --bodyTextAlpha03: rgba(28,28,28,0.03);
  --bodyTextAlpha20: rgba(26,26,26,0.2);
  --bodyTextAlpha20: rgba(28,28,28,0.2);
  --bodyTextShaded20: #050505;
  --bodyTextTinted20: #d1d1d1;
  --button: #0079D3;
  --button: #cc8b00;
  --buttonAlpha05: rgba(0,121,211,0.05);
  --buttonAlpha05: rgba(204,139,0,0.05);
  --buttonAlpha10: rgba(0,121,211,0.1);
  --buttonAlpha10: rgba(204,139,0,0.1);
  --buttonAlpha20: rgba(0,121,211,0.2);
  --buttonAlpha20: rgba(204,139,0,0.2);
  --buttonAlpha40: rgba(0,121,211,0.4);
  --buttonAlpha40: rgba(204,139,0,0.4);
  --buttonAlpha50: rgba(0,121,211,0.5);
  --buttonAlpha50: rgba(204,139,0,0.5);
  --buttonAlpha80: rgba(0,121,211,0.8);
  --buttonAlpha80: rgba(204,139,0,0.8);
  --buttonShaded80: #0060a8;
  --buttonShaded80: #a36f00;
  --buttonTinted20: #cce4f6;
  --buttonTinted20: #f4e7cc;
  --buttonTinted50: #7fbce9;
  --buttonTinted50: #e5c57f;
  --buttonTinted80: #3293db;
  --buttonTinted80: #d6a232;
  --canvas: #DAE0E6;
  --canvas: #edeff1;
  --canvasImgPosition: tiled;
  --checkbox: #000000;
  --errorText: #FF0000;
  --field: #F6F7F8;
  --fieldFade: #F6F7F800;
  --flair: #EDEFF1;
  --highlight: #d5e3ee;
  --highlight: #e9f5fd;
  --inactive: #EDEFF1;
  --lightTextAlpha75: rgba(255,255,255,0.75);
  --line: #EDEFF1;
  --lineShaded80: #bdbfc0;
  --lineShaded90: #d5d7d8;
  --lineShadedNinety: #d5d7d8;
  --linkText: #0079D3;
  --linkText: #cc8b00;
  --linkTextAlpha80: rgba(0,121,211,0.5);
  --linkTextAlpha80: rgba(204,139,0,0.5);
  --linkTextShaded80: #0060a8;
  --linkTextShaded80: #a36f00;
  --linkTextTinted80: #3293db;
  --linkTextTinted80: #d6a232;
  --linkTextWithBody: #3f9ade;
  --linkTextWithBody: #3f9ade;
  --menuActiveText: #0079D3;
  --menuActiveText: #0079D3;
  --menuButtonBackground-active: rgba(0,0,0,0.08);
  --menuButtonBackground-focus: rgba(0,0,0,0.12);
  --menuButtonBackground-hover: rgba(0,0,0,0.04);
  --menuInactiveText: #0079D3;
  --metaText: #747576;
  --metaText: #7c7c7c;
  --metaTextAlpha50: rgba(120,124,126,0.5);
  --metaTextShaded80: #606364;
  --monospaceColor: #FF006D;
  --navBar-activeLink: #cc8b00;
  --navBar-activeLink: #E9F5FD;
  --navBar-activeSubmenuCaret: #0079d3;
  --navBar-activeSubmenuCaret: #24A0ED;
  --navBar-activeSubmenuLink: #0079d3;
  --navBar-activeSubmenuLink: #24A0ED;
  --navBar-backgroundColor: #24A0ED;
  --navBar-backgroundColor: #dbf0ff;
  --navBar-hoverLink: #cc8b00;
  --navBar-hoverLink: #E9F5FD;
  --navBar-inactiveLink: #0079d3;
  --navBar-inactiveLink: #EDEFF1;
  --navBar-inactiveSubmenuCaret: #33a8ff;
  --navBar-inactiveSubmenuCaret: #42adf0;
  --navBar-submenuBackgroundColor: #dbf0ff;
  --navBar-submenuBackgroundColor: #def1fc;
  --navIcon: #1A1A1B;
  --navIconFaded10: rgba(26,26,27,0.1);
  --nsfwBlocking-bgcolor: #edeff1;
  --nsfwBlocking-color: #030303;
  --nsfwBlocking-contentTitleBgColor: #f6f7f8;
  --pageHeader: #0079D3;
  --placeholder: #c7c8ca;
  --placeholder: #d6d6d6;
  --post: #edeff1;
  --postError: #eed7d8;
  --postError: #ffe5e5;
  --postFlairText: #1A1A1B;
  --postIcon: #7f8182;
  --postIcon: #898989;
  --postLine: #bdbfc0;
  --postLine: #ccc;
  --postLineShaded80: #979899;
  --postLineShaded80: #a3a3a3;
  --postLineShaded90: #aaabac;
  --postLineShaded90: #b7b7b7;
  --postTinted20: #fbfbfc;
  --postTransparent20: rgba(237,239,241,0.8);
  --postTransparent20: rgba(255,255,255,0.8);
  --primaryButtonShadedEighty: #0060a8;
  --primaryButtonTintedEighty: #3293db;
  --primaryButtonTintedFifty: #7fbce9;
  --primaryButtonTintedSixty: #66aee4;
  --report: #eee8d8;
  --report: #fff7e5;
  --search-syntaxHighlightBackgroundColor: #E9F5FD;
  --search-syntaxHighlightColor: #1A1A1A;
  --textTransparentizedEighty: rgba(26,26,27,0.2);
  --titleText: #1A1A1B;
  --titleText: #b8001f;
  --upsell-appleIcon: #000000;
  --upsell-ssoButtonBorderColor: #D3D6DA;
  --upsell-ssoButtonTextColor: #3D4043;
  --voteText-base: #7f8182;
  --voteText-base: #898989;
  --voteText-downvote: #7193FF;
  --voteText-downvoteShaded80: #5a75cc;
  --voteText-downvoteTinted80: #8da8ff;
  --voteText-upvote: #FF4500;
  --voteText-upvoteShaded80: #cc3700;
  --voteText-upvoteTinted80: #ff6a32;
  --widgetColors-lineColor: rgba(26,26,27,0.07);
  --widgetColors-sidebarWidgetBorderColor: #ccc;
  --widgetColors-sidebarWidgetHeaderColor: #0079d3;
  --widgetColors-sidebarWidgetHeaderColorAlpha60: rgba(0,121,211,0.6);
  --widgetColors-sidebarWidgetHeaderColorAlpha60: rgba(255,255,255,0.6);
  --widgetColors-sidebarWidgetTextColor: #1A1A1B;
  --widgetColors-sidebarWidgetTextColorShaded80: #141415;
  --widgetColors-sidebarWidgetTitleColor: #1A1A1B;
}

